<section class="product__container">
  <div class="product-image__container">
    <img [src]="produto?.imagem" alt="imagem">
  </div>
<div class="product-description__container">
  <h2 class="product__name"> {{produto?.descricao}}</h2>
  <h3 class="product__price">{{produto?.preco | currency:"BRL"}}</h3>
  <p>In stock</p>
  <label>
    QTD:
    <input type="number" [(ngModel)]="quantidade" min="1">
    Unit (s)
  </label>
  <p class="product__avaiability"> {{produto?.quantidadeEstoque}} unit(s) in stock</p>
  <button (click)="adicionarCarrinho">Add to cart</button>

</div>
</section>
