<header class="main-header">
  <h1 class="main-header__title">
    <span class="main-header__title--blue">Gamer Tech <span class="main-header__title--orange">Store</span></span>
  </h1>
  <div class="container-menu">
  <nav class="main-header__menu">
    <ul>
      <li><a>Products</a></li>
      <li>
        <a>
          <i class="fa-sharp fa-solid fa-cart-shopping" style="color: #59348d;"></i>
          Carrinho
          <span class="badge-carrinho">{{carrinhoService.getCart().length}}</span>
        </a>
      </li>
      <li>
        <a>Contact</a>
      </li>
      <li><a><i class="fa-brands fa-square-facebook" style="color: #59348d;"></i></a></li>
      <li><a><i class="fa-brands fa-square-instagram" style="color: #59348d;"></i></a></li>
      <li><a><i class="fa-brands fa-square-twitter" style="color: #59348d;"></i></a></li>
      <li><a><i class="fa-brands fa-linkedin" style="color: #59348d;"></i></a></li>

    </ul>
  </nav>
  <form class="search-form">
    <input type="text">
    <button class=""><i class="fa-solid fa-magnifying-glass" style="color: #59348d;"></i></button>
  </form>
</div>
</header>
