<footer class="footer">
<div class="footer__conteiner">
<section>
  <h2 class="footer__title">About</h2>
  <p class="footer__about-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu dolor nec est fringilla ornare. Nulla feugiat tellus pulvinar nisi tempus convallis. Vestibulum ligula tortor, faucibus non viverra sit amet, porta ut magna. Morbi et consequat magna. Ut ac magna vel magna tempor volutpat.
  </p>
</section>
<address>
  <h2 class="footer__title">Contact</h2>
  <ul>
    <li><i class="fa-sharp fa-solid fa-envelope" style="color: #59348d;"> Email@email.com</i></li>
    <li><i class="fa-sharp fa-solid fa-phone" style="color: #59348d;"></i> +55(11)6666-6666</li>
    <li><i class="fa-brands fa-square-whatsapp" style="color: #59348d;"> +55(11)90000-0000</i></li>
  </ul>
</address>
</div>
<section class="footer__copyright*">
&copy; All rights reserved!
</section>
</footer>